a:link {
    color: #3b5998;
    text-decoration:none;
}

a:visited {
    color: #3b5998;
    text-decoration:none;
}

a:hover {
    color: #00FF00;
    text-decoration:underline;
}

a:active {
    text-decoration:underline;
}

body {
  background-color: #DBDBDB;
  color: black;
  margin: 15px;
  margin-top: 0;
}

body,
input,
text_area {
  font-family: Georgia, serif;
  font-size: 12pt;
}

table {
  border-collapse: collapse;
  border: 0;
}

td {
  border: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Helvetica Nue", Helvetica, Arial, sans-serif;
  margin: 0;
}

h1 {
  font-size: 20pt;
}

pre,
code {
  font-family: monospace;
  color: #060;
}

pre {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid silver;
  line-height: 14pt;
}

#body {
  max-width: 800px;
  margin: auto;
}

#header {
  background-color: #3b5998;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 1em;
}

#header,
#header a {
  color: white;
}

#header h1 a {
  text-decoration: none;
}

#footer,
#content {
  margin-left: 10px;
  margin-right: 10px;
}

#footer {
  margin-top: 3em;
}

.article h1 a {
  color: black;
  text-decoration: none;
}

.article {
  margin-bottom: 2em;
}

.article .date {
  margin-top: 3px;
}

.article p {
  margin: 0;
  margin-bottom: 1em;
}

.article .body {
  margin-top: 1em;
  line-height: 16pt;
}

.edit td {
  vertical-align: middle;
  padding-bottom: 5px;
}

.edit td.field {
  padding-right: 10px;
}

.edit .title,
.edit .submit {
  font-family: "Helvetica Nue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.edit .title {
  font-size: 20pt;
}

.edit .title,
.edit .markdown {
  width: 100%;
}

.edit .markdown {
  height: 500px;
  line-height: 16pt;
}

ul.archive {
    list-style-type: none;
     margin: 0;
     padding: 0;
}

ul.archive li {
    margin-bottom: 1em;
}

ul.archive .title {
    font-family: "Helvetica Nue", Helvetica, Arial, sans-serif;
    font-size: 14pt;
}
